<h1>注文履歴一覧</h1>


<% @orders.each do |order| %>
 <p><%= link_to order.created_at, admin_order_path(order.id) %></p>
 <p><%= order.name %></p>
<% end %>

  <% @order_details.each do |order_detail| %>
   <p><%= order_detail.amount %></p>
  <% end %>